@{
    ViewData["Title"] = "Home Page";
}

@*we can probably just hide this in a pertial view or someting*@
<script src="~/js/p5.js"></script>
<script src="~/js/sketch.js"></script>
<script src="~/js/GameManager.js"></script>
<script src="~/js/Screen/Screen.js"></script>
<script src="~/js/Screen/ScreenManager.js"></script>
<script src="~/js/Screen/ScreenTiles.js"></script>
<script src="~/js/Tile.js"></script>
<script src="~/js/Player.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
